<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tour Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        {{tourtype}} / {{region}}
      </ion-card-subtitle>
      <ion-card-title>
        {{tour.Title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{tour.Description}}
      <hr />
      <ion-chip>
        <ion-icon name="stopwatch"></ion-icon>
        <ion-label>{{tour.Duration}} min</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>up to {{tour.MaxPersons}}</ion-label>
        <ion-icon name="people"></ion-icon>
      </ion-chip>
      <ion-chip>
        <ion-icon name="language"></ion-icon>
        <ion-label>{{tour.PriceG}} &euro; (German)</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-icon name="globe"></ion-icon>
        <ion-label>
          {{tour.PriceF}} &euro; (Other language)
        </ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" (click)="presentActionSheet()">
    Options
  </ion-button>
</ion-footer>