<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    
    <!-- Schedule group -->
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Desired schedule</ion-label>
      </ion-item-divider>

      <!--- Date -->
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime [(ngModel)]="request.Date" min="{{ dat_after_tomorrow }}" max="{{ two_years_later }}" 
      display-format="DDD, MMMM DD YYYY" picket-format="MMMM DD YYYY" placeholder="Please chooseypur desired date!"></ion-datetime>
    </ion-item>
  
    <!-- <Time-->
    <ion-item>
      <ion-labe>Time</ion-labe>
      <ion-datetime [(ngModel)]="request.Time" hourValues="9, 10, 11, 12, 13, 14, 15, 16, 17" minuteValues="0, 15, 30, 45"
      display-format="hh:mm A" picker-format="f mm" placeholder="Please choose your desiredtime!"></ion-datetime>
    </ion-item>
  </ion-item-group>
    
  <!-- Contact informauion group -->
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Your contact information</ion-label>
    </ion-item-divider>

    <!-- First name ---->
    <ion-item>
      <ion-label>First name</ion-label>
      <ion-input type="text" [(ngModel)]="request.FirstName"></ion-input>
    </ion-item>

    <!-- Last name ---->
    <ion-item>
      <ion-label>Larst name</ion-label>
      <ion-input type="text" [(ngModel)]="request.LastName"></ion-input>
    </ion-item>

    <!-- E-mail ---->
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="request.Email"></ion-input>
    </ion-item>
  </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button expand="block" routerLink="/favourites" routerDirection="root">
    Back to Favorites
  </ion-button>

  <ion-button expand="block" (click)="send()">
    Send request
  </ion-button>
</ion-footer>