<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-buttons></ion-menu-buttons>
    </ion-buttons>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let tour of favService.favTours" [routerLink]="['/details/' + tour.ID" routeDirection="forward">
      {{ tour.Title }}
    </ion-item>

    <ion-item *ngFor="favService.favTours?.length==0">
      You didn't choose any favorites yet!
    </ion-item>
  </ion-list>
  <ion-button routerLink="/details" routerDirection="forward">Show details</ion-button>
</ion-content>
